*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    display: grid;
    place-items: center;
    height: 100vh;
}
.main
{
    border: 20px solid #495250;;
    padding: 50px;
    height: 50%;
}
   
.btn
{
    width: 50px;
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
    outline: none;
    background-color: grey;
    transition: all 2s;

}
.btn:hover{
    background-color: black;
    color: white;
}
.result
{
    width:100%;
    border: 2px solid black;
    height: 50px;
}